.button {
  @include font-primary;
  @include regular-shadow;
  @include transition;

  padding: $base * 3 $base * 7.5;
  font-size: 1.3rem;
  line-height: 2rem;
  color: $secondary;
  background-color: $info;
  border: none;
  border-radius: $border-radius-regular;

  &:hover {
    background-color: $gray-400;
  }

  &_secondary {
    color: $gray-300;
    background-color: rgba(255 255 255 / 28%);
    box-shadow: none;
  }
}

.footer__button {
  @media (min-width: $sm) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
