/* BASE */
$base: 0.4rem;

/* COLORS */
$white: #fff;
$gray-100: #f7f7f7;
$gray-200: #efefef;
$gray-300: #dedede;
$gray-400: #999;
$gray-500: #768088;
$gray-600: #7a7a7a;
$gray-700: #232f38;
$gray-800: #2e2e2e;
$gray-900: #101315;
$black: #000;
$orange: #dd783f;

$primary: $gray-100;
$secondary: $white;
$info: $orange;

/* BREAK POINTS */
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/* BORDER RADIUS */
$border-radius-regular: $base * 0.75;

/* SHADOWS */
@mixin regular-shadow {
  box-shadow: (0 4px 4px rgb(0 0 0 / 25%));
}

/* TRANSITIONS */
@mixin transition {
  transition: all 300ms ease;
}

/* Z-INDEXES */
$z-index-above-all: 1000;
$z-index-surface: 8;
$z-index-middle: 5;
$z-index-bottom: 0;
