.most-recent {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: $base * 6;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
}
