.sub-navigation {
  width: 100%;
  background-color: $white;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media (min-width: $sm) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__item {
    @include font-secondary;
    @include transition;

    margin: $base * 5.5 $base;
    font-size: 1.4rem;
    color: $gray-600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
